/* Font Family Google Fonts
Poppins, Roboto, Inter, Manrope  */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Manrope:wght@400;500;600;700;800&family=Poppins:ital,wght@0,400;0,600;0,900;1,700&family=Roboto:wght@400;500;700;900&display=swap");
/* Universal Selector */
:root {
  --gray_primary: #787885;
  --red_primary: #e02c6d;
  --poppins: "Poppins", sans-serif;
  --inter: "Inter", sans-serif;
  --roboto: "Roboto", sans-serif;
  --monorope: "Manrope", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: auto;
}
a {
  text-decoration: none;
}
.container {
  width: 83%;
  margin: 0 auto;
}
/* Navigation Menu Related Styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 4.513rem 0;
  align-items: center;
}
nav h2 {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-family: var(--poppins);
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  list-style: none;
}
nav ul a {
  color: #3a3a3a;
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 2.125rem;
}
.search {
  font-size: 1.5rem;
  /* height: 1.5rem; */
  /* margin-bottom: 0.6rem; */
}
.shopping {
  font-size: 2.25rem;
}
